<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.commands">
      <command
            name="Undo Command"
            id="no.sintef.bvr.ui.editor.common.command.undoCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="no.sintef.bvr.ui.editor.common.command.undoCommand"
            class="no.sintef.bvr.ui.editor.common.action.Undo">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="no.sintef.bvr.ui.editor.common.command.undoCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+Z"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="no.sintef.bvr.ui.editor.common.toolbars.undoToolbar">
            <command
                  commandId="no.sintef.bvr.ui.editor.common.command.undoCommand"
                  icon="icons/undo.png"
                  tooltip="Undo"
                  id="no.sintef.bvr.ui.editor.common.undoCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Undo Command"
            id="no.sintef.bvr.ui.editor.common.command.redoCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="no.sintef.bvr.ui.editor.common.command.redoCommand"
            class="no.sintef.bvr.ui.editor.common.action.Redo">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="no.sintef.bvr.ui.editor.common.command.redoCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+Y"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="no.sintef.bvr.ui.editor.common.toolbars.redoToolbar">
            <command
                  commandId="no.sintef.bvr.ui.editor.common.command.redoCommand"
                  icon="icons/redo.png"
                  tooltip="Redo"
                  id="no.sintef.bvr.ui.editor.common.redoCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
