<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="no.sintef.bvr.table.resolution.editors.BvrModelWizardID"
            name="%_UI_BvrModelWizard_label"
            class="no.sintef.bvr.table.resolution.editors.BvrModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BvrModelFile.gif">
         <description>%_UI_BvrModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

  <extension point="org.eclipse.ui.editors">
      <editor
            id="no.sintef.bvr.table.resolution.editors.BvrResolutionEditorID"
            name="BVR Resolution Editor (TABLE)"
            icon="icons/sample.gif"
            extensions="bvr"
            class="no.sintef.bvr.table.resolution.editors.BvrResolutionEditor"
            contributorClass="no.sintef.bvr.table.resolution.editors.BvrActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="no.sintef.bvr.table.resolution.action.CreateResolutionHandler"
         description="Create Resolution"
         id="no.sintef.bvr.table.resolution.action.createResolution"
         name="createResolution"/>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="no.sintef.bvr.table.resolution.action.CreateVInstanceHandler"
         description="Create VInstance"
         id="no.sintef.bvr.table.resolution.action.createVInstance"
         name="createVInstance">
      </command>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="no.sintef.bvr.table.resolution.action.CheckValidationRootChoice"
         description="Validate Product"
         id="no.sintef.bvr.table.resolution.action.checkProduct"
         name="checkProduct">
      </command>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="no.sintef.bvr.table.resolution.action.CheckValidationAllProduct"
         description="Validate All Product"
         id="no.sintef.bvr.table.resolution.action.checkAllProduct"
         name="checkAllProduct">
      </command>
 
   </extension>
   
<extension point="org.eclipse.ui.menus">
  <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=edit">
     <command label="Create Resolution" 
        commandId="no.sintef.bvr.table.resolution.action.createResolution"  style="push" >
        <visibleWhen
              checkEnabled="false">
          <iterate ifEmpty="false">
      		<adapt type="bvr.ConfigurableUnit">
      		</adapt>
    	  </iterate>
        </visibleWhen>
      </command>
  </menuContribution>
  <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=edit">
     <command label="Create Instance" 
        commandId="no.sintef.bvr.table.resolution.action.createVInstance" style="push" >
       <visibleWhen
              checkEnabled="false">
          <iterate ifEmpty="false">
      		<adapt type="no.sintef.bvr.table.resolution.custom.VirtualVClassifier">
      		</adapt>
    	  </iterate>
        </visibleWhen>
      </command>
  </menuContribution>
  <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=edit">
     <command label="Check product" 
        commandId="no.sintef.bvr.table.resolution.action.checkProduct" style="push" >
       <visibleWhen
              checkEnabled="false">
          <iterate ifEmpty="false">
      		<adapt type="bvr.VSpecResolution">
      		</adapt>
    	  </iterate>
        </visibleWhen>
      </command>
  </menuContribution>
 <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=edit">
     <command label="Check all product" 
        commandId="no.sintef.bvr.table.resolution.action.checkAllProduct" style="push" >
       <visibleWhen
              checkEnabled="false">
          <iterate ifEmpty="false">
      		<adapt type="bvr.ConfigurableUnit">
      		</adapt>
    	  </iterate>
        </visibleWhen>
      </command>
  </menuContribution>

  
</extension>
<!-- gmf generator persistent region begin -->
<extension
    point="org.eclipse.emf.transaction.editingDomains">
	<editingDomain
    	factory="org.eclipse.emf.workspace.WorkspaceEditingDomainFactory"
        id="no.sintef.bvr.shared.EditingDomain"/>
</extension>
<!-- gmf generator persistent region end -->
</plugin>

