<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.sintef.bvr.ui.editor.mvc.vspec.BVRVSpecEditorMVC"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="cvl"
            icon="icons/sample.gif"
            id="no.sintef.cvl.ui.editor.eclipse.editors.BVRVSpecEditorMVC"
            name="BVR VSpec Editor (MVC)">
      </editor>
   </extension>

</plugin>
