<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.sintef.bvr.ui.editor.mvc.realization.BVRRealizationEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="cvl"
            icon="icons/sample.gif"
            id="no.sintef.cvl.ui.editor.eclipse.editors.BVRRealizationEditor"
            name="BVR Realization Editor">
      </editor>
   </extension>

</plugin>
