<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="no.sintef.dsl.node.presentation.nodeModelWizardID"
            name="%_UI_nodeModelWizard_label"
            class="no.sintef.dsl.node.presentation.nodeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/nodeModelFile.gif">
         <description>%_UI_nodeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="no.sintef.dsl.node.presentation.nodeEditorID"
            name="%_UI_nodeEditor_label"
            icon="icons/full/obj16/nodeModelFile.gif"
            extensions="node"
            class="no.sintef.dsl.node.presentation.nodeEditor"
            contributorClass="no.sintef.dsl.node.presentation.nodeActionBarContributor">
      </editor>
   </extension>

</plugin>
