<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cvl.presentation.cvlModelWizardID"
            name="%_UI_cvlModelWizard_label"
            class="cvl.presentation.cvlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/cvlModelFile.gif">
         <description>%_UI_cvlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="cvl.presentation.CvlEditorID"
            name="%_UI_CvlEditor_label"
            icon="icons/full/obj16/cvlModelFile.gif"
            extensions="cvl"
            class="cvl.presentation.CvlEditor"
            contributorClass="cvl.presentation.cvlActionBarContributor">
      </editor>
   </extension>

</plugin>
