<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.sintef.bvr.ui.editor.BVRVSpecEditorGMF"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="cvl"
            icon="icons/sample.gif"
            id="no.sintef.cvl.ui.editor.eclipse.editors.BVRVSpecEditorGMF"
            name="BVR VSpec Editor (GMF)">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.sintef.bvr.ui.editor.BVRResolutionEditorTBL"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="cvl"
            icon="icons/sample.gif"
            id="no.sintef.cvl.ui.editor.eclipse.editors.BVRResolutionEditorTBL"
            name="BVR Resolution Editor (Table)">
      </editor>
   </extension>

</plugin>
