<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BVR VSpec Editor (MVC)"
            extensions="cvl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="no.sintef.cvl.ui.editor.eclipse.editors.CVLModelUIEditor"
            id="no.sintef.cvl.ui.editor.eclipse.editors.KevModelUIEditor">
      </editor>
   </extension>
   
         <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BVR VSpec Editor (GMF)"
            extensions="cvl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="no.sintef.cvl.ui.editor.eclipse.editors.CVLModelUIEditor"
            id="no.sintef.cvl.ui.editor.eclipse.editors.KevModelUIEditor">
      </editor>
   </extension>
   
      <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BVR Resolution Editor (MVC)"
            extensions="cvl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="no.sintef.cvl.ui.editor.eclipse.editors.CVLModelUIEditor"
            id="no.sintef.cvl.ui.editor.eclipse.editors.KevModelUIEditor">
      </editor>
   </extension>
   
      <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BVR Realization Editor"
            extensions="cvl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="no.sintef.cvl.ui.editor.eclipse.editors.CVLModelUIEditor"
            id="no.sintef.cvl.ui.editor.eclipse.editors.KevModelUIEditor">
      </editor>
   </extension>





</plugin>
