<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.sintef.bvr.ui.editor.mvc.resolutionV2.MVCResolutionEditorV2"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="bvr"
            icon="icons/sample.gif"
            id="no.sintef.bvr.ui.editor.eclipse.editors.BVRResolutionV2EditorMVC"
            name="BVR Resolution Editor V2 (MVC)">
      </editor>
   </extension>
</plugin>
