<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///CVLMetamodelMaster/Main.ecore"
            class="CVLMetamodelMaster.Main.MainPackage"
            genModel="model/CVLMetamodel.genmodel"/>
   </extension>

</plugin>
