<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CVL2 Enabled Papyrus Editor"
            extensions="di"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="no.sintef.bvr.papyrusdiagramadapter2.editors.PapyrusCVLEditor"
            id="no.sintef.bvr.papyrusdiagramadapter2.editors.PapyrusCVLEditor">
      </editor>
   </extension>

</plugin>
