<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.sintef.bvr.ui.editor.mvc.type.MVCTypeEditor"
            extensions="bvr"
            icon="icons/sample.gif"
            id="no.sintef.bvr.ui.editor.mvc.type.BVRMVCTypeEditor"
            name="BVR Type Editor (MVC)">
      </editor>
   </extension>

</plugin>
