<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="no.sintef.bvr.transfbvrtobvr2.contribution1"
            nameFilter="*.bvr">
         <menu
               label="BVRToBVR2"
               path="additions"
               id="no.sintef.bvr.transfbvrtobvr2.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Run Transformation"
               class="no.sintef.bvr.transfbvrtobvr2.popup.actions.RunTransformation"
               menubarPath="no.sintef.bvr.transfbvrtobvr2.menu1/group1"
               enablesFor="1"
               id="no.sintef.bvr.transfbvrtobvr2.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
