<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org.sintef.ari"
            class="ari.ariPackage"
            genModel="src/main/resources/model/ari.genmodel"/>
   </extension>

</plugin>
