<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BVR Type Editor (MVC)"
            extensions="bvr"
            icon="icons/sample.gif"
            class="no.sintef.bvr.ui.editor.mvc.multipagetype.editor.MultiPageTypeEditor"
            id="no.sintef.bvr.ui.editor.mvc.multipagetype.editors.MultiPageTypeEditor">
      </editor>
   </extension>

</plugin>
